{% extends 'base.html.twig' %}

{% block title %}Administateur{% endblock %}

{% block body %}
<div class="container mt-4">
<h1>Espace Administateur</h1>
<br>
<h5>Liste des medecins</h5>

<table class="table table-triped"><table class="table">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Spécialité</th>
      <th scope="col">Localisation</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">01</th>
      <td>Hassane</td>
      <td>Abdallah</td>
      <th>Medecine interne</th>
      <td>Moroni Coulée</td>
      <td><a href="#" class="btn btn-secondary">Editer</a>
      <a href="#" class="btn btn-danger">Supprimer</a>
      </td>
      
    </tr>
     <tr>
      <th scope="row">02</th>
      <td>Tadjidine</td>
      <td>Ahmed</td>
      <th>Medecine generale</th>
      <td>Moroni Kaltex</td>
      <td><a href="#" class="btn btn-secondary">Editer</a>
      <a href="#" class="btn btn-danger">Supprimer</a>
      </td>
    </tr>
     <tr>
      <th scope="row">03</th>
      <td>Djamaldine</td>
      <td>Said</td>
      <th>Chirurgie</th>
      <td>Moroni Coulée</td>
      <td><a href="#" class="btn btn-secondary">Editer</a>
      <a href="#" class="btn btn-danger">Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
