{% extends 'base.html.twig' %}

{% block title %}Administateur{% endblock %}

{% block body %}
<div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 container text-center" style="align-text:center;">Bienvenu dans notre service</h1>
    <p class="lead container text-center">Cet espace est reservé aux personnelles de santé aux comores</p>
  </div>
</div>


{% endblock %}
